<div class="container">
		<div class="row">
        {{#posts}}
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li>
						<time datetime="2017-11-24">
							<span class="day">{{this.day}}</span>
							<span class="month">{{this.month}}</span>
							<span class="time">{{this.time}}</span>
						</time>
						<div class="info">

							<div class="row">
								<div class="col-sm-10">
									<h2 class="title">{{this.title}}</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">Start:</div>
								<div class="col-sm-9">{{this.month}},{{this.day}} {{this.time}}</div>
							</div>

							<div class="row">
								<div class="col-sm-3">Address:</div>
								<div class="col-sm-9">{{this.address}}</div>
							</div>

						</div>

					</li>
				</ul>
		</div>
		{{/posts}}
	</div>
</div>
