
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form method="POST" action="/posts">
      <legend>Event</legend>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" name="category" class="form-control" id="post-category" placeholder="Title" value="{{posts.category}}"></input>
      </div>
      <legend>New Event</legend>
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="post-title" placeholder="Title" value="{{posts.title}}"></input>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="address" name="address" class="form-control" id="address" placeholder="example: 123 Carson Street SF,CA 94108" value="{{posts.address}}"></input>
      </div>
      <div class="form-group">
        <label for="mapsUrl">Google Maps URL</label>
        <input type="mapsUrl" name="mapsUrl" class="form-control" id="mapsUrl" placeholder="https://www.google.com/maps" value="{{posts.mapsUrl}}"></input>
      </div>
      <div class="form-group">
        <label for="post-summary">Summary</label>
        <textarea name="summary" class="form-control" id="post-summary" placeholder="Title" value="{{posts.summary}}"></textarea>
      </div>

      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Event<button>
      </div>


    </form>
  </div>
</div>
